<footer class="">
    <p class="text">
        {{ site.footer_text | default: "HYUNSOO ALL RIGHT RESERVED" }}</p>
            {% comment %} <div class="footer-icons">
                <ul>
                <!-- Social icons from Font Awesome, if enabled -->
                {% include social/icons.liquid %}
                </ul>
            </div> {% endcomment %}
</footer>


